* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Inter', sans-serif; 
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
}

/* Content Container Section CSS */
.content-container {
  color: #034694;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}

/* Start Section CSS */
.start-text {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.start-button {
  margin-top: 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #fefefe;
  border: 1px solid #000;
  padding: 5px 15px 5px 15px;
}

/* Rules section CSS */
.rules-container {
  display: none;
}

.rules-header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;
  border-bottom: 2px solid #034694;
  width: 70%;
  margin: auto;
}

ul {
  list-style: none;
}

.rules {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 50px;
}

.start-guessing-button {
  margin-top: 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #fefefe;
  border: 1px solid #000;
  padding: 5px 15px 5px 15px;
}

/* Guess section CSS */
.guess-container {
  display: none;
}

.guess-text {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;;
  letter-spacing: 1.5px;
}

.guess-input {
  border: 1px solid #034694;
  border-radius: 15px;
  padding: 15px;
}

input[type=text] {
  font-size: 2rem;
  color: #034694;
}

.guess-submit-button {
  margin-top: 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #fefefe;
  border: 1px solid #000;
  padding: 5px 15px 5px 15px;
}

/* Answer section CSS */
.answer-container {
  display: none;
}

.answer-text {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;;
  letter-spacing: 1.5px;
}

.play-again-button {
  margin-top: 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #fefefe;
  border: 1px solid #000;
  padding: 5px 15px 5px 15px;
}

